includes:
	- .Build/vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
	level: 8
	ignoreErrors:
		- identifier: missingType.iterableValue
		- '#Cannot call method [a-z]+\(\) on Psr\\Log\\LoggerInterface\|null#'
	paths:
	- Classes/
	- Tests/
	typo3:
		requestGetAttributeMapping:
			oauth_scopes: array
			oauth_user_id: int
