oauth2:

  oidc: true

  endpoints:
    oauth2_authorize:
      target: R3H6\OidcServer\Controller\AuthorizationController::startAuthorization
    oidc_userinfo:
      path: /userinfo
      methods: GET
      target: R3H6\OidcServer\Controller\UserinfoController::getClaims

  scopes:
    - { identifier: 'profile', description: 'LLL:EXT:oidc_server/Resources/Private/Language/locallang.xlf:scope_profile' }
    - { identifier: 'email', description: 'LLL:EXT:oidc_server/Resources/Private/Language/locallang.xlf:scope_email' }
    - { identifier: 'address', description: 'LLL:EXT:oidc_server/Resources/Private/Language/locallang.xlf:scope_address' }
    - { identifier: 'phone', description: 'LLL:EXT:oidc_server/Resources/Private/Language/locallang.xlf:scope_phone' }
    - { identifier: 'role', consent: false }
    - { identifier: 'openid', consent: false }

  claimSets:
    role:
      - Roles
